.rotating-border {
    position: relative;
}

.rotating-border:hover::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 2px solid transparent;
    border-radius: inherit;
    /* Match the border radius of the parent element */
    animation: rotateBorder 4s linear infinite;
    pointer-events: none;
    /* Ensure the pseudo-element doesn't interfere with hover events */
}

@keyframes rotateBorder {
    0% {
        border-top-color: rgba(128, 0, 128, 0.1);
        border-right-color: rgba(128, 0, 128, 0.9);
        border-bottom-color: rgba(128, 0, 128, 0.1);
        border-left-color: rgba(128, 0, 128, 0.1);
    }

    25% {
        border-top-color: rgba(128, 0, 128, 0.1);
        border-right-color: rgba(128, 0, 128, 0.1);
        border-bottom-color: rgba(128, 0, 128, 0.9);
        border-left-color: rgba(128, 0, 128, 0.1);
    }

    50% {
        border-top-color: rgba(128, 0, 128, 0.1);
        border-right-color: rgba(128, 0, 128, 0.1);
        border-bottom-color: rgba(128, 0, 128, 0.1);
        border-left-color: rgba(128, 0, 128, 0.9);
    }

    75% {
        border-top-color: rgba(128, 0, 128, 0.9);
        border-right-color: rgba(128, 0, 128, 0.1);
        border-bottom-color: rgba(128, 0, 128, 0.1);
        border-left-color: rgba(128, 0, 128, 0.1);
    }

    100% {
        border-top-color: rgba(128, 0, 128, 0.1);
        border-right-color: rgba(128, 0, 128, 0.9);
        border-bottom-color: rgba(128, 0, 128, 0.1);
        border-left-color: rgba(128, 0, 128, 0.1);
    }
}